%html
  %head
    %meta{ :charset => "utf-8" }
    %title git ♥
    %meta{ :name => "viewport", :content => "width=1024, user-scalable=no" }
    %link{ :rel => "stylesheet", :href => "deck.core.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "deck.menu.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "deck.navigation.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "deck.scale.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "deck.status.css", :type => "text/css" }

    %link{ :rel => "stylesheet", :href => "theme.css", :type => "text/css" }

    %script{ :src => "modernizr.custom.js" }

%body.deck-container
  .slide
    %h1
      git
      %span.red ♥
      %br
      .subtitle caleb spare

  / Other extension HTML snippets go here, at the bottom of the deck container.

  / Update these paths to point to the correct files.
  %script{ :src => "jquery-1.6.4.min.js" }
  %script{ :src => "deck.core.js" }
  %script{ :src => "deck.menu.js" }
  %script{ :src => "deck.navigation.js" }
  %script{ :src => "deck.scale.js" }
  %script{ :src => "deck.status.js" }

  / Initialize the deck. You can put this in an external file if desired.
  :javascript
    $(function() {
      $.deck('.slide');
    });
